# Python Basic Exercises

源地址：[100+ Python challenging programming exercises for Python 3](https://github.com/zhiwehu/Python-programming-exercises/blob/master/100%2B%20Python%20challenging%20programming%20exercises%20for%20Python%203.md)

### Question 1
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [23]:
ls = []
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        ls.append(str(i))
print(','.join(ls))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question 2
Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [4]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

x = int(input())
print(factorial(x))

8
40320

### Question 3
Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [9]:
def sqrd(n):
    d = dict()
    for i in range(1,n+1):
        d[i] = i*i
    return d

x = int(input())
print(sqrd(x))

4
{1: 1, 2: 4, 3: 9, 4: 16}

### Question 4
Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [10]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

34,67,55
['34', '67', '55']
('34', '67', '55')

### Question 5
Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

### Question 6
Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [50]:
import math

ls = []
items = [x for x in input().split(',')]

for i in items:
    ls.append(str(formular(int(i))))
print(','.join(ls))    
    
def formular(D):
    C = 50
    H = 30
    Q = round( math.sqrt((2*C*D)/H) )
    return Q

100,150,180
18,22,24

### Question 7
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [7]:
import numpy as np

para = input().split(',')
X = int(para[0])
Y = int(para[1])
m = np.ones([X,Y], int)

for i in range(X):
    for j in range(Y):
        m[i,j] = i*j
print(m)

3,5
[[0 0 0 0 0]
 [0 1 2 3 4]
 [0 2 4 6 8]]

### Question 8
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [41]:
ls = input().split(',')
print(ls[1])
ls.sort()
print(ls)

without,hello,bag,world
hello
['bag', 'hello', 'without', 'world']

In [43]:
ls = [x for x in input().split(',')]
print(ls[1])
ls.sort()
print(ls)

without,hello,bag,world
hello
['bag', 'hello', 'without', 'world']

### Question 9
 Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

In [47]:
ls = [str.upper(x) for x in input().split(' ')]
print(' '.join(ls))

Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

In [ ]:
# 标准答案的程序貌似有什么问题

lines = []   
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

### Question 10
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [2]:
ls = [x for x in input().split(' ')]
print(' '.join( sorted( set( ls ) )  ))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### Question 11
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console

In [15]:
ls = [int(x,2) for x in input().split(',') ]
num = []
for i in ls:
    if i%5 == 0:
        num.append(bin(i))
print(','.join(num))

0100,0011,1010,1001
0b1010

### Question 12
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [23]:
even = []
for i in range(1000,3001):
    s = str(i)
    if (int(s[0])%2 == 0) and (int(s[1])%2 == 0) and (int(s[2])%2 == 0) and (int(s[3])%2 == 0):
        even.append(s)
print(','.join(even))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### Question 13
Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [36]:
s = input()
d={"DIGITS":0, "LETTERS":0}
for c in s:
    if c.isdigit():
        d["DIGITS"]+=1
    elif c.isalpha():
        d["LETTERS"]+=1
    else:
        pass
print("LETTERS", d["LETTERS"])
print("DIGITS", d["DIGITS"])

hello world! 123
LETTERS 10
DIGITS 3

### Question 14
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [37]:
s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", d["UPPER CASE"])
print("LOWER CASE", d["LOWER CASE"])

Hello world!
UPPER CASE 1
LOWER CASE 9

### Question 15
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [10]:
def summ(a):
    s = 0
    ls = '1111'
    for i in range(4):
        s = s + a* int (ls[0:i+1])
    return s
a = input()
print(summ(int(a)))

9
11106

In [2]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

### Question 16
 Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9

In [3]:
ls = [int(x) for x in input().split(',')]
odd = []
for num in ls:
    if num%2 == 1:
        odd.append(str(num))
print(','.join(odd))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

In [7]:
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

### Question 17
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200

D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [17]:
Balance = 0
while True:
    value = input()
    if not value:
        break
    else:
        trans = value.split(' ')
        operation = trans[0]
        amount = int(trans[1])
        if operation == "D":
            Balance += amount
        elif operation == "W":
            Balance -= amount
        else:
            pass

    print(Balance)

D 300
300

### Question 18
A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:

At least 1 letter between [a-z]  
At least 1 number between [0-9]  
At least 1 letter between [A-Z]  
At least 1 character from [$#@]  
Minimum length of transaction password: 6  
Maximum length of transaction password: 12   
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 Then, the output of the program should be: ABd1234@1

In [15]:
import re
codes = [x for x in input().split(',')]
password= []

for code in codes:
    if  (len(code)<6) and (len(code)>12):
        continue
    else:
        pass
    
    if not re.search('[a-z]', code):
        continue
    elif not re.search('[A-Z]', code):
        continue
    elif not re.search('[0-9]', code):
        continue
    elif not re.search('[$#@]', code):
        continue
    elif re.search('[\s]', code):
        continue
    else:
        pass
    
    password.append(code)
print(password)

ABd1234@1,a F1#,2w3E*,2We3345
['ABd1234@1']

### Question 19
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [22]:
from operator import itemgetter, attrgetter
info = []
while True:
    value = input()
    if not value:
        break
    else:
        info.append(tuple(value.split(',')))

print(sorted(info, key=itemgetter(0,1,2)))

Tom,19,80
John,20,90
Jony,17,91

[('John', '20', '90'), ('Jony', '17', '91'), ('Tom', '19', '80')]

### Question 20
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [49]:
def seven(n):
    for i in range(n):
        if i%7 == 0:
            yield i

for i in seven(70):     
    print(i)

0
7
14
21
28
35
42
49
56
63

### Question 21
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following: UP 5 DOWN 3 LEFT 3 RIGHT 2 ¡­ The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer. Example: If the following tuples are given as input to the program: UP 5 DOWN 3 LEFT 3 RIGHT 2 Then, the output of the program should be: 2

In [78]:
import math
class robot:
    def __init__(self, cood):
        self.cood = cood
        self.dist = 0
    
    def up(self, n):
        self.cood[1] += n
    def down(self, n):
        self.cood[1] -= n
    def left(self, n):
        self.cood[0] -= n
    def right(self, n):
        self.cood[0] += n
        
    def locat(self, target):
        self.dist = int(math.sqrt( (target[0]- self.cood[0] )**2 + (target[1] - self.cood[1])**2 ))
        return self.dist

In [79]:
rob1 = robot([0,0])
while True:
    s = input()
    if not s:
        break
    else:
        move = s.split(' ')
    direction = move[0]
    steps = int(move[1])
    if direction=="UP":
        rob1.up(steps)
    elif direction=="DOWN":
        rob1.down(steps)
    elif direction=="LEFT":
        rob1.left(steps)
    elif direction=="RIGHT":
        rob1.right(steps)
    else:
        pass
print(rob1.locat([0,0]))

DOWN 3
UP 5

2.0

### Question 22
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. Suppose the following input is supplied to the program: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3. Then, the output should be: 2:2 3.:1 3?:1 New:1 Python:5 Read:1 and:1 between:1 choosing:1 or:2 to:1

In [92]:
freq = {}
ls = [x for x in input().split()]
for word in ls:
    freq[word] = freq.get(word,0)+1

for w in sorted(freq.keys()):
    print("%s:%d" % (w,freq[w]))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3
2:2
3:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

### Question 24
Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

In [9]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def square(num):
    '''Return the square value of the input number.
    
    The input number must be integer.
    '''
    return num ** 2

print(square(2))
print(square.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

4
Return the square value of the input number.

    The input number must be integer.

### Question 31
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [96]:
def maxline(str1, str2):
    if len(str1) > len(str2):
        print(str1)
    elif len(str2) >len(str1):
        print(str2)
    else:
        print(str1)
        print(str2)

maxline('one', 'threee')

threee

### Question 33
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [104]:
def printdict():
    dic = dict()
    for i in range(1,4):
        dic[i] = i*i
    print(dic)

    for k,v in dic.items():
        print(v)
    
printdict()

{1: 1, 2: 4, 3: 9}
1
4
9

### Question 41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [111]:
def printtuple():
    t = list()
    for i in range(20):
        t.append(i**2)
    print(tuple(t))

printtuple()

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361)

### Question 42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [1]:
t =  (1,2,3,4,5,6,7,8,9,10)
n = len(t)
print(t[:n//2])
print(t[n//2:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [3]:
t = (1,2,3,4,5,6,7,8,9,10)
ls = list()
for i in range(len(t)):
    if t[i]%2 == 0:
        ls.append(t[i])

t2 = tuple(ls)
print(t2)

(2, 4, 6, 8, 10)

### Question 45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [8]:
ls = [1,2,3,4,5,6,7,8,9,10]
even = filter(lambda x: x%2==0, ls)
print(list(even))

[2, 4, 6, 8, 10]

### Question 46
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10]

In [41]:
ls = [1,2,3,4,5,6,7,8,9,10]
sq = list(map(lambda x: x**2, ls))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 47
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [11]:
ls = [1,2,3,4,5,6,7,8,9,10]
sq = list(map(lambda x: x**2,  filter(lambda x: x%2==0, ls) ))
print(sq)

[4, 16, 36, 64, 100]

### Question 50
1. Define a class named American which has a static method called printNationality. 
2. Define a class named American and its subclass NewYorker.

In [2]:
class American:
    @staticmethod
    def pN():
        print("American")

In [3]:
Jone = American()
Jone.pN()
American.pN()

American
American

In [4]:
class NewYorker(American):
    pass

In [6]:
Wei = NewYorker()
Wei.pN()

American

### Question 52
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [11]:
import math
class Circle:
    def __init__(self, r):
        self.radius = r
    
    def area(self):
        return math.pi*(self.radius)**2

In [12]:
c1 = Circle(5)
c1.area()

78.53981633974483

### Question 54
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [22]:
class Shape:
    def __init__(self):
        pass
    
    def area(self):
        return 0

In [23]:
class Square(Shape):
    def __init__(self, l):
        Shape.__init__(self)
        self.length = l
    
    def area(self):
        return self.length**2

In [24]:
s = Square(5)
s.area()

25

### Question 55
Please raise a RuntimeError exception.

In [25]:
raise RuntimeError('something wrong')

RuntimeError: something wrong

### Question 56
Write a function to compute 5/0 and use try/except to catch the exceptions.

In [29]:
def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print("division by zero!")
except Exception as err:
    print('Caught an exception')
finally:
    print('In finally block for cleanup')

division by zero!
In finally block for cleanup

### Question 57
Define a custom exception class which takes a string message as attribute.

In [60]:
class MyError(Exception):
    """My own exception class
    Attributes:
        msg  -- explanation of the error
    """    
    def __init__(self, msg):
        self.msg = msg    
    def __str__(self):
        return repr(self.msg)

try:
    raise MyError("test")
except MyError as e:
    print('My exception occurrs:', e)

My exception occurrs: 'test'

In [56]:
class MyError(Exception):
    def __init__(self, value):
        self.value = value
    def __str__(self):
        return repr(self.value)
try:
    raise MyError(2*2)
except MyError as e:
    print('My exception occurred, value:', e.value)

My exception occurred, value: 4

### Question 58
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example: If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In [48]:
import re
emailadd = input()
patten = re.compile('(\w+)@(\w+)\.+(com)')
name = patten.match(emailadd)
print(name.group(1))
print(name.group(2))

john@google.com
john
google

### Question 60
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

In [51]:
words = input().split(' ')
num = list()
for word in words:
    if word.isnumeric():
        num.append(word)
print(num)

2 cats and 3 dogs
['2', '3']

In [55]:
import re
num = re.findall(r'\d+', input())
print(num)

2 cats and 3 dogs
['2', '3']

### Question 61
Print a unicode string "hello world".

In [34]:
# Literal strings are unicode by default in Python3.
# Assuming that text is a bytes object, just use text.decode('utf-8')

### Question 62
Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

In [42]:
a = "hello world"
b = a.encode("ascii")
c = b.decode("utf-8")
print(a, type(a))
print(b, type(b))
print(c, type(c))

hello world <class 'str'>
b'hello world' <class 'bytes'>
hello world <class 'str'>

In [29]:
a = u'hello world'
type(a)
# b = a.encode("ascii")
# b

str

### Question 63
Write a special comment to indicate a Python source code file is in unicode.

In [11]:
# -*- coding: utf-8 -*-

#----------------------------------------#

### Question 64
Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

Example: If the following n is given as input to the program:

5

Then, the output of the program should be:

3.55

In [24]:
def summ(n):
    if n == 1:
        return float(1/2)
    else:
        return float(summ(n-1)*n/(n+1))
print('{:.2f}'.format(summ(5)))

0.17

In [ ]:
float(%.2f,)

### Question 68
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

In [54]:
def even(n):
    for i in range(n+1):
        if i%2 == 0:
            yield i

a = even(6)

In [59]:
print(next(a))

4

### Question 70
Please write assert statements to verify that every number in the list [2,4,6,8] is even.

In [52]:
for i in [2,4,5,6,8]:
    assert i%2 == 0,'not every number is even'

AssertionError: not every number is even

### Question 71
Please write a program which accepts basic mathematic expression from console and print the evaluation result.

In [1]:
expression = input()    # eval 的输入一定是字符串
print(eval(expression))

35+3
38

In [3]:
g = {'a':4}       # 全局变量必须以字典作对象
eval('a+1', g)

5

# Question 72
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [60]:
def bi_search(ls,item):
    N = len(ls)
    if N%2 ==0:
        med = N//2
    else:
        med = (N+1)//2
    
    if N == 1 and item != ls[med-1]:
        return 10000     # imply out of range
    elif item == ls[med-1]:
        return med
    elif item < ls[med-1]:
        poi = bi_search(ls[:med-1],item)
        return poi
    elif item > ls[med-1]:
        poi = bi_search(ls[med:],item)
        return med+poi

li=[2,5,7,9,11,17,222]
print(bi_search(li,17))
print(bi_search(li,12))

6
10004

In [61]:
import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid]==element:
            index = mid
        elif li[mid]>element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,12))

4
-1

### Question 75
Please generate a random float where the value is between 5 and 95 using Python math module.

In [15]:
import random
num = (random.random()*100)-5
print(num)

32.785078718762286

### Question 76
Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

In [27]:
import random
num = random.choice([i for i in range(11) if i%2 ==0] )
print(num)

10

### Question 78
Please write a program to generate a list with 5 random even numbers between 100 and 200 inclusive.

In [34]:
import random
print(random.sample( [i for i in range(100,201) if i%2 ==0], 5 ))

[168, 152, 120, 118, 194]

### Question 81
Please write a program to randomly print a integer number between 7 and 15 inclusive.

In [39]:
import random
print(random.randrange(0,100,7))

21

### Question 82
Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

In [42]:
import zlib
s = b'hello world!hello world!hello world!hello world!'
t = zlib.compress(s)
print(t)
print(zlib.decompress(t))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

### Question 83
Please write a program to print the running time of execution of "1+1" for 100 times.

In [69]:
from timeit import Timer
t = Timer("for i in range(100): 1+1")
print(t.timeit())

0.8486882079996576

### Question 84
Please write a program to shuffle and print the list [3,6,7,8].

In [75]:
from random import shuffle
ls = [3,6,7,8]
shuffle(ls)
print(ls)

[8, 6, 7, 3]

### Question 86
Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [77]:
s = ["I", "You"]
v = ["Play", "Love"]
o = ["Hockey","Football"]
for i in s:
    for j in v:
        for k in o:
            print("{0} {1} {2}".format(i,j,k))

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

### Question 87
Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24]

In [80]:
ls = [5,6,77,45,22,12,24]
even = list(filter(lambda x: x%2==0, ls))
print(even)

[6, 22, 12, 24]

### Question 89
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [81]:
ls = [2,24,35,70,88,120,155]
index = list(filter(lambda x: x%2==0, range(7)))
even = [ls[x] for x in index]
print(even)

[2, 35, 88, 155]

In [84]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i%2!=0]
print(li)

[24, 70, 120]

### Question 90
By using list comprehension, please write a program generate a 358 3D array whose each element is 0.

In [86]:
import numpy as np
a = np.zeros((3,4,5))
print(a)

[[[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]]

### Question 93
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [88]:
ls1 = [1,3,6,78,35,55]
ls2 = [12,24,35,24,88,120,155]
ls = set(ls1)|set(ls2)
print(list(ls))

[1, 3, 35, 6, 88, 12, 78, 55, 24, 155, 120]

### Question 94
With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [91]:
ls = [12,24,35,24,88,120,155,88,120,155]
print(set(ls))

{35, 12, 155, 24, 88, 120}

### Question 95
Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [7]:
class Person:
    def __init__(self, sex):
        self.sex = sex  
    def getGender(self):
        return self.sex

class Male(Person):
    def __init__(self, male):
        self.sex = male  
    def getGender(self):
        return self.sex

In [26]:
a = Person("male")
a.getGender()
b = Male()
b,getGender()

NameError: name 'getGender' is not defined

### Question 96
Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2 c,2 b,2 e,1 d,1 g,1 f,1

In [21]:
d = dict()
s = input()
for i in s:
    d[i] = d.get(i,0) + 1
print('\n'.join(['{0},{1}'.format(k, v) for (k,v) in d.items()]))

abcdefgabc
a,2
b,2
c,2
d,1
e,1
f,1
g,1

### Question 97
Please write a program which accepts a string from console and print it in reverse order

In [13]:
s=input()
s = s[::-1]
print(s)

ab
ba

### Question 99
Please write a program which prints all permutations of [1,2,3]

In [24]:
import itertools
ls = [1,2,3]
print(list(itertools.permutations(ls)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

### Question 100
Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm.

In [25]:
for i in range(36):
    j = 36 - i
    leg = 2*i + 4*j
    if leg == 94:
        print(i,j)

25 11